{% extends "store/main.html" %}
{% load static %}


<h3>Checkout</h3>
{% block content %}
{% comment %} <ul>
{% for item in data1 %}
{{ item.product }}
{% endfor %}
</u>
<br/><br/><br/>
<div>Precio final: <span>{{data2.get_total_cartP|floatformat:2}}</span></div>

{% if data2.needsShipping %}

<form id="checkout-form">
{% if not autenticado %}
<div class="form-row">
<div class="form-group col-md-6">
<input type="text" class="form-control" placehoder="Nombre" id="name_costumer"/></div>
<input type="text" class="form-control" placehoder="email" id="email_costumer"/></div>
<div class="form-group col-md-6"></div>
</div>
{% endif %}
  <div class="form-row">
  <div class="form-group col-md-2">
    <label for="inputAddress2">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="{{shipping_info.address}}">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity"
      value="{{shipping_info.city}}">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <input id="inputState" class="form-control" value="{{shipping_info.state}}" />
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" value="{{shipping_info.zipcode}}">
    </div>
  </div>
  <button type="button" class="btn btn-outline-success" id="continuarPago" data-shipping="si">Continuar</button>
  <div id="paypal-button-container"></div>

</form>

{% else %}

{% if not autenticado %}  
<div class="form-row">
<div class="form-group col-md-6">
<input type="text" class="form-control" id="name_costumer" placeholder="Nombre"/>
<input type="text" class="form-control" id="email_costumer" placeholder="email"/>
<div class="form-group col-md-6">
<button type="button" class="btn btn-outline-success" id="continuarPago" data-shipping="no">Continuar</button>
<div id="paypal-button-container"></div>

</div>
{% else %}
<div id="paypal-button-container"></div>

{% endif %}
{% endif %} {% endcomment %}











































{% comment %} 
  <div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3 sticky-top">
                    {% for product in data1 %}

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{product.name}}</h6>
                        </div>
                        <span class="text-muted">{{product.total}}</span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>{{data2.get_total_cartP}}</strong>
                    </li>
                </ul>
            </div>




            {% if data2.needsShipping %}

            <form class="needs-validation">
                <div class="col-md-8 order-md-1">
                    {% if not autenticado %}

                    <div class="row">
                        <div class="col-12 mb-2">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" placeholder="" required="true" id="name_costumer">
                            <div class="invalid-feedback"> Name is required </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email mb-0">Email </label>
                            <input type="email" class="form-control" id="email_costumer" placeholder="you@example.com">
                            <div class="invalid-feedback"> Please enter a valid email </div>
                        </div>
                    </div>
                    {% endif %}

                    <h4 class="mb-3">Billing address</h4>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor" value="{{shipping_info.address}}" required="true">
                        <div class="invalid-feedback"> Please enter your shipping address. </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">City</label>
                            <input type="text" class="form-control" id="inputCity" value="{{shipping_info.city}}"
                                required="true">
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="inputState" placeholder="country"
                                value="{{shipping_info.state}}" required="true">
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" placeholder="" required="true" id="inputZip"
                                value="{{shipping_info.zipcode}}">
                            <div class="invalid-feedback"> Zip code required. </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Payment</h4>
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="continuarPago"
                        data-shipping="si">Continuar</button>
                    <div id="paypal-button-container"></div>
            </form>
            {% else %}

            {% if not autenticado %}

            <form class="needs-validation">
                <div class="col-md-6 mb-2">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="name_costumer" placeholder="your name" required="true">
                    <div class="invalid-feedback"> A name is required. </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email mb-0">Email </label>
                    <input type="email" class="form-control" required="true" placeholder="you@example.com"
                        id="email_costumer">
                    <div class="invalid-feedback"> Please enter a valid email. </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="continuarPago"
                        data-shipping="no">Continuar</button>
                    <div id="paypal-button-container"></div>
                </div>
            </form>
            {% else %}

            <form class="needs-validation">
                <div class="col-md-6 mb-2">
                    <div id="paypal-button-container"></div>
                </div>
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>
 {% endcomment %}




<div class="container">
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="badge badge-secondary badge-pill">3</span>
                </h4>
                <ul class="list-group mb-3 sticky-top">
                    {% for product in data1 %}

                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">{{product.name}}</h6>
                        </div>
                        <span class="text-muted">{{product.total}}</span>
                    </li>
                    {% endfor %}

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (USD)</span>
                        <strong>{{data2.get_total_cartP}}</strong>
                    </li>
                </ul>
            </div>




            {% if data2.needsShipping %}

            <form class="needs-validation col-md-8 order-md-1">
            
                    {% if not autenticado %}

                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" placeholder="" required="true" id="name_costumer">
                            <div class="invalid-feedback"> Name is required </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="email mb-0">Email </label>
                            <input type="email" class="form-control" id="email_costumer" placeholder="you@example.com">
                            <div class="invalid-feedback"> Please enter a valid email </div>
                        </div>
                    </div>
                    {% endif %}

                    <h4 class="mb-3">Billing address</h4>
                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="inputAddress2"
                            placeholder="Apartment, studio, or floor" value="{{shipping_info.address}}" required="true">
                        <div class="invalid-feedback"> Please enter your shipping address. </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">City</label>
                            <input type="text" class="form-control" id="inputCity" value="{{shipping_info.city}}"
                                required="true">
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="inputState" placeholder="country"
                                value="{{shipping_info.state}}" required="true">
                            <div class="invalid-feedback"> Please select a valid country. </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" placeholder="" required="true" id="inputZip"
                                value="{{shipping_info.zipcode}}">
                            <div class="invalid-feedback"> Zip code required. </div>
                        </div>
                    </div>
                    <hr class="mb-4">
                    <h4 class="mb-3">Payment</h4>
                    <hr class="mb-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="continuarPago"
                        data-shipping="si">Continuar</button>
                    <div id="paypal-button-container"></div>
            </form>
            {% else %}

            {% if not autenticado %}

            <form class="needs-validation col-md-8 order-md-1">
                
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="firstName">First name</label>
                            <input type="text" class="form-control" id="name_costumer" placeholder="your name"
                                required="true">
                            <div class="invalid-feedback"> A name is required. </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="email mb-0">Email </label>
                            <input type="email" class="form-control" required="true" placeholder="you@example.com"
                                id="email_costumer">
                            <div class="invalid-feedback"> Please enter a valid email. </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="continuarPago"
                                data-shipping="no">Continuar</button>
                            <div id="paypal-button-container"></div>
                        </div>
                  
            </form>
            {% else %}

            <form class="needs-validation">
                <div class="col-md-6 mb-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="continuarPago"
                                data-shipping="no">Continuar</button>
                    <div id="paypal-button-container"></div>
                </div>
            </form>
            {% endif %}
            {% endif %}

        </div>
    </div>

{% endblock content %}


{% block js %}
<script type="text/javascript" src="{% static "js/checkout.js" %}"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AZfq4GOlUVwy1nbgcVqWt69ylXMjRTb_Q9Nu1ArbLmlDgSHh436virzAI7eFOQZtG_XhCtuUSHhPIsYV&currency=USD"></script>
{% endblock js %}